In [1]:
import pandas as pd
import numpy as np

In [2]:
df_index= pd.read_excel('C:/Users/XLL/Desktop/CS毕设项目/中证500股指及股指期货数据/中证500指数2022-12-31.xlsx')
df_index.head()

         date  index_level
0  2015-04-16      7912.09
1  2015-04-17      7980.76
2  2015-04-20      7839.90
3  2015-04-21      8112.69
4  2015-04-22      8323.43

In [3]:
diff = np.array(df_index["index_level"])
diff = np.diff(diff)
diff

array([  68.67, -140.86,  272.79, ...,  -23.56,   -4.7 ,    7.07])

In [4]:
df_index.drop([0], inplace=True)

In [5]:
df_index3 = pd.DataFrame(np.insert(df_index.values,2,diff,axis = 1))
df_index3.columns = ['date','index_level','diff']
df_index3['date']=pd.to_datetime(df_index3['date'])
df_index3

           date index_level    diff
0    2015-04-17     7980.76   68.67
1    2015-04-20      7839.9 -140.86
2    2015-04-21     8112.69  272.79
3    2015-04-22     8323.43  210.74
4    2015-04-23      8410.7   87.27
...         ...         ...     ...
1874 2022-12-26     5843.26   79.91
1875 2022-12-27     5885.66    42.4
1876 2022-12-28      5862.1  -23.56
1877 2022-12-29      5857.4    -4.7
1878 2022-12-30     5864.47    7.07

[1879 rows x 3 columns]

In [6]:
df_index3.set_index("date", inplace=True)
df_index3

           index_level    diff
date
2015-04-17     7980.76   68.67
2015-04-20      7839.9 -140.86
2015-04-21     8112.69  272.79
2015-04-22     8323.43  210.74
2015-04-23      8410.7   87.27
...                ...     ...
2022-12-26     5843.26   79.91
2022-12-27     5885.66    42.4
2022-12-28      5862.1  -23.56
2022-12-29      5857.4    -4.7
2022-12-30     5864.47    7.07

[1879 rows x 2 columns]

In [7]:
df_index4 = df_index3.drop('index_level',axis = 1)
df_index4
#check missing value
df_index4.isnull().sum()
#find out missing value
df_index4[df_index4.isnull().values==True]
df_index4.dropna(inplace=True)
df_index4

              diff
date
2015-04-17   68.67
2015-04-20 -140.86
2015-04-21  272.79
2015-04-22  210.74
2015-04-23   87.27
...            ...
2022-12-26   79.91
2022-12-27    42.4
2022-12-28  -23.56
2022-12-29    -4.7
2022-12-30    7.07

[1879 rows x 1 columns]

In [8]:
df_index4['binary'] = df_index4['diff'].apply(lambda x: 1 if x > 0 else 0)
df_index4

              diff  binary
date
2015-04-17   68.67       1
2015-04-20 -140.86       0
2015-04-21  272.79       1
2015-04-22  210.74       1
2015-04-23   87.27       1
...            ...     ...
2022-12-26   79.91       1
2022-12-27    42.4       1
2022-12-28  -23.56       0
2022-12-29    -4.7       0
2022-12-30    7.07       1

[1879 rows x 2 columns]

In [9]:
weekly_groups=df_index4.groupby([pd.Grouper(freq='W'),'binary']).mean()
weekly_groups

                         diff
date       binary
2015-04-19 1        68.670000
2015-04-26 0      -140.860000
           1       144.800000
2015-05-03 0      -246.540000
           1        99.036667
...                       ...
2022-12-18 0       -31.232500
           1         5.490000
2022-12-25 0       -61.902000
2023-01-01 0       -14.130000
           1        43.126667

[763 rows x 1 columns]

In [10]:
df = weekly_groups
df

                         diff
date       binary
2015-04-19 1        68.670000
2015-04-26 0      -140.860000
           1       144.800000
2015-05-03 0      -246.540000
           1        99.036667
...                       ...
2022-12-18 0       -31.232500
           1         5.490000
2022-12-25 0       -61.902000
2023-01-01 0       -14.130000
           1        43.126667

[763 rows x 1 columns]

In [11]:
grouped = df.groupby('date')['diff']
diff1 = grouped.apply(lambda x: x.loc[x.index.get_level_values('binary') == 1].sum() / x.loc[x.index.get_level_values('binary') == 0].sum() if 0 in x.index.get_level_values('binary') and 1 in x.index.get_level_values('binary') else '+' if 1 in x.index.get_level_values('binary') else '-').to_numpy()
diff1

array(['+', -1.0279710350702795, -0.4017062816040663, -0.8367874794069212,
       -5.067771818625002, '+', -0.3250015900273486, -20.443244170096126,
       -2.7126981699546158, -0.49620332848093635, -0.23556609166414427,
       -0.7861713837944754, -1.2794972912683236, -0.6631699576868828,
       -1.0977190356129838, -1.3930288798214756, -2.774456844354736,
       -1.7954086271340575, -0.4053969306623788, -0.6596040367586611, '-',
       -1.0873306233062334, -0.7432354761694234, -0.8380924980220099,
       -0.5661181943487227, '+', -2.111014436710495, -0.8011330352442166,
       -0.4947631727588171, -2.129960979357475, -1.3486446637178118,
       -1.497429484507436, -0.4393852223226754, -1.5991195487687462,
       -1.1626488620678503, -6.302577014217971, -1.2636863956744246,
       -0.4411444316288612, -0.32005077667277637, -0.3536526148182441,
       -0.8534803257902979, -0.5037397740553189, -1.6911401712094898,
       -5.770308123249409, -0.24138219383390155, -0.6264548865831012,
       -0.8386724104170706, -2.9635600073036534, -1.3527648412825872,
       -1.8781310211945985, -1.2857974012541205, -2.7486481266898757,
       -0.2303267528931218, -2.909976699851746, -0.3001829461203037,
       -0.04875514526635795, -0.7350059737156482, -1.6012613521695338,
       -2.841174389812484, -1.376697641172238, -0.5340850959720658,
       -0.9772753390025234, -4.599790794979147, -2.610957873620915,
       -2.6739354395605255, -0.7070184696569898, -0.2564303946593363,
       -0.668741086477374, -1.2208723822746752, '+', -0.21702483104259865,
       -0.47937753036437686, -0.8578201576816634, -0.25659797541575785,
       -4.246755762153592, -0.4563565718811102, -5.6202487300751365,
       -1.593066866695242, -1.2286551339285752, -1.6307037896365102,
       -0.8612678895383933, -0.9603440038222606, -1.5478184991274,
       -0.4520428170208297, -1.3660680409763577, -0.23748023194517803,
       -0.8607934655775804, -0.8462633451957419, -1.634731260544714,
       -0.7936220329769911, -0.9599375650364201, -5.2397491558129365, '-',
       -10.040662650603233, -0.4936003004825078, -176.30208333349367,
       -0.4835138954309946, -0.6275305253947412, -2.1468326620285647,
       -1.2303527227722844, -0.6065074906367003, '+', -1.0023290906705187,
       '-', -0.1130548705302089, -0.10107560898450407,
       -0.5558774203384655, -2.074172520726532, -0.5754342099388332,
       -0.9851099030961994, '+', -2.243623171975951, -0.2421665695981374,
       -1.4355526706231387, -0.9689034369885635, -0.2657135606124737,
       -0.24739376882828593, -3.582313591124134, -1.6745993493191909,
       -0.4283397640216966, -2.802955665024705, -1.4852624011502458,
       -2.9902557856272787, -0.4956203627370184, -2.5563566804002273,
       -1.0123781676413268, -0.88029805851791, -2.1983613626563363,
       -1.3438249688129817, -1.4448375262054534, -0.7681940700808576, '+',
       -0.23023763336566522, -0.35903358263675106, -0.8515013604950771,
       -0.7306072544491268, -0.8813849394418113, -0.7208975090321359,
       -0.7173537871524408, -191.6321839080703, -1.0985630893578804,
       -0.5185232893652115, -2.6517702936096867, -0.08822213939619859,
       -0.1822246519710233, '+', '+', -2.6620134565805436,
       -0.8873328820443351, -2.376396601324696, -0.10628637951105707,
       -1.5829671223958426, -0.13848662127170278, -0.7732525524514753,
       -0.6563869033894407, -0.5880256593014948, -15.842406876791811,
       -1.551636736234694, -1.5809719467271075, -0.8374164810690458,
       -0.9441507699379386, -3.433736017897102, -0.990338556466679,
       -0.28257787230271647, -2.116426636246972, -0.36928583603204446,
       -0.7669871475540493, -1.0375026635414495, -1.4980629947785087,
       -0.044195475225163094, -1.038237463126845, -0.3926263627353706,
       -1.1616922922319444, -1.1473743647656673, -1.149137055837564,
       -0.7315697596347484, -1.9338021565869632, -0.938425671969272, '-',
       -0.7325593289689019, -8.273414658735787, -0.9639507209855767,
       -0.15951260038770973, -4.277870216306223, -0.13821839080459622,
       -0.6788452864230905, -1.9108982035928193, -0.8073893473368335,
       -0.40264810728231265, -0.6657117672983632, -3.551330798479105,
       -4.533556423126912, -2.186423012784886, -0.4366114440136247,
       -3.319011058674388, -2.0202105978260487, -8.3446344339627,
       -7.968769676363093, -0.4595505354123617, -0.9658349834983508,
       -10.544600938966614, -1.1337289358074862, '+',
       -0.24867251357317668, -1.3689573025471915, -0.4554228548763756,
       -0.2946008565611193, -0.745767441860463, -0.8095769216227464,
       -1.8449206434029788, -3.5137614678899136, '-', -1.3147377185678581,
       -10.205026455026356, -0.6042492201331967, -3.337719298245625,
       -0.09079056159765993, -0.7964521264498505, -0.29754210732471625,
       -0.9080550442632942, -0.49709581714095763, -1.3969429857464382,
       -45.81420765026374, -1.4759822848058168, '+', -2.905349794238666,
       -0.16325416325416325, -0.27505133470226206, '-', '+',
       -1.786203638081734, -2.346220079214714, -1.2106854235258966,
       -0.9160298005287139, -0.38938654475813517, -2.252639729691689,
       -1.1286565547128802, -5.248702422145576, -1.8035087719298077,
       -1.9424137931034564, -0.6405759908753889, '+', -1.3778968041421094,
       -6.405808793868549, -0.49378276007192873, -0.2228493702339132,
       -1.5083939312326056, -1.8278887923544676, -0.18102473163006894,
       -2.347222222222208, -1.3097050115144206, -0.21307099824601566,
       -1.0909136295556683, -1.2361240130051072, -0.6301594266491163,
       -1.9053574446509995, -1.056849585471775, -8.154685494223354,
       -14.309694793537538, -0.6691935838277353, -1.1104679208876038,
       -3.15791707938308, -14.976973684210696, -0.7782680639823465,
       -70.42067736185786, -2.211213935764891, -2.7117260787991997,
       -9.275563258232019, -0.6410563914964128, -0.5466623107916792,
       -4.175783324482041, -2.79950023798191, -0.4455053326561722,
       -0.7361246016733951, -0.8599051590221587, -0.6052480289093302,
       -0.42868623340321615, -1.4067273795534678, -0.5020303805083487,
       -1.0624141936846534, '+', -2.3642845501955723, -0.9248777702437451,
       -0.07294203604481138, -2.8352188321334704, -1.5632930067866657,
       -0.8251536783660463, -0.3289090780041148, -1.1720736876426445,
       -0.19210977701543946, -1.8337577815506505, -0.6310112120729049,
       -2.126636999364273, -4.358930112165946, -1.5413504146009707,
       -1.6959831976896795, -0.14704518044345408, -0.7583054159687297,
       '+', '+', '-', -0.8134030471692797, -0.703844801312859,
       -0.5757968385592134, -0.8513229134743068, -0.9614872575123603,
       -0.46706958004029164, -1.5516995483717655, -3.9689009661836914,
       -1.2477528801113835, -0.08105099087063607, -1.2500806711842556,
       -1.5430722051853805, -2.2846577726218413, -0.8970336433893293,
       -0.9524306461431407, -0.5730125916181181, -1.3592502850627135,
       -0.40709562444309433, -6.4147537767311675, -1.808684945778277,
       -1.1944807173326384, -0.5993072545839403, -2.181456953642386,
       -6.19374009508766, -0.3565657021622395, -2.1534689695550377,
       -1.3922196459460523, -8.659764826176083, -0.3986257269454466,
       -0.4380205781479655, -0.30541822470951163, '-',
       -0.3448077614085518, -1.5303785388612001, -1.4651616680762503,
       -0.5372673434856172, -2.370236869206993, -1.652505363162739,
       -3.305635838150254, -0.728763127187863, -1.5652353806546462,
       -1.6127744510978161, -0.5318419764245085, -1.8810330547398582,
       -0.11449662321344417, -0.6756191140565031, -0.6595368285622351,
       -0.1414803128001097, -1.7855320885624042, -1.808219178082183,
       -0.6159402606276533, -0.5210288008215432, -0.5073662237565745,
       -0.4808537104324205, -0.7656668452062106, -1.4388835418671861,
       -0.03540194500804226, -0.8082092918358131, -0.09241079050708396,
       -1.1770680628272248, -0.47832099568860714, '+', -4.266992266992165,
       -0.5815817111945566, -23.2192307692356, -1.8913002310343496,
       -3.0871843735112225, -0.896388631039204, -0.9951609509783301,
       -1.1659700907725428, -0.34038869652630793, -1.17681685646696,
       -0.6938436433763532, -0.5960851165642352, -3.3090781263732527,
       -0.4758629724241817, -0.8408416890269719, -0.28336873059957324,
       -1.6953071083505626, '-', -0.7530499501266055, -0.5971093508898266,
       -1.0776324186343267, -0.5394923779902514, -1.4708559046587275,
       -81.65277777778323, -1.649680912782823, -2.6849396692983687,
       -0.16515795307590517, -3.5607644840589736, -2.7633495145630986,
       -0.1757784359241101, '-', -3.052134937485235], dtype=object)

NameError: name 'diff2' is not defined

In [13]:
diff2 = list(diff1)
diff2

['+',
 -1.0279710350702795,
 -0.4017062816040663,
 -0.8367874794069212,
 -5.067771818625002,
 '+',
 -0.3250015900273486,
 -20.443244170096126,
 -2.7126981699546158,
 -0.49620332848093635,
 -0.23556609166414427,
 -0.7861713837944754,
 -1.2794972912683236,
 -0.6631699576868828,
 -1.0977190356129838,
 -1.3930288798214756,
 -2.774456844354736,
 -1.7954086271340575,
 -0.4053969306623788,
 -0.6596040367586611,
 '-',
 -1.0873306233062334,
 -0.7432354761694234,
 -0.8380924980220099,
 -0.5661181943487227,
 '+',
 -2.111014436710495,
 -0.8011330352442166,
 -0.4947631727588171,
 -2.129960979357475,
 -1.3486446637178118,
 -1.497429484507436,
 -0.4393852223226754,
 -1.5991195487687462,
 -1.1626488620678503,
 -6.302577014217971,
 -1.2636863956744246,
 -0.4411444316288612,
 -0.32005077667277637,
 -0.3536526148182441,
 -0.8534803257902979,
 -0.5037397740553189,
 -1.6911401712094898,
 -5.770308123249409,
 -0.24138219383390155,
 -0.6264548865831012,
 -0.8386724104170706,
 -2.9635600073036534,
 -1.3527648412825872,
 -1.8781310211945985,
 -1.2857974012541205,
 -2.7486481266898757,
 -0.2303267528931218,
 -2.909976699851746,
 -0.3001829461203037,
 -0.04875514526635795,
 -0.7350059737156482,
 -1.6012613521695338,
 -2.841174389812484,
 -1.376697641172238,
 -0.5340850959720658,
 -0.9772753390025234,
 -4.599790794979147,
 -2.610957873620915,
 -2.6739354395605255,
 -0.7070184696569898,
 -0.2564303946593363,
 -0.668741086477374,
 -1.2208723822746752,
 '+',
 -0.21702483104259865,
 -0.47937753036437686,
 -0.8578201576816634,
 -0.25659797541575785,
 -4.246755762153592,
 -0.4563565718811102,
 -5.6202487300751365,
 -1.593066866695242,
 -1.2286551339285752,
 -1.6307037896365102,
 -0.8612678895383933,
 -0.9603440038222606,
 -1.5478184991274,
 -0.4520428170208297,
 -1.3660680409763577,
 -0.23748023194517803,
 -0.8607934655775804,
 -0.8462633451957419,
 -1.634731260544714,
 -0.7936220329769911,
 -0.9599375650364201,
 -5.2397491558129365,
 '-',
 -10.040662650603233,
 -0.4936003004825078,
 -176.30208333349367,
 -0.4835138954309946,
 -0.6275305253947412,
 -2.1468326620285647,
 -1.2303527227722844,
 -0.6065074906367003,
 '+',
 -1.0023290906705187,
 '-',
 -0.1130548705302089,
 -0.10107560898450407,
 -0.5558774203384655,
 -2.074172520726532,
 -0.5754342099388332,
 -0.9851099030961994,
 '+',
 -2.243623171975951,
 -0.2421665695981374,
 -1.4355526706231387,
 -0.9689034369885635,
 -0.2657135606124737,
 -0.24739376882828593,
 -3.582313591124134,
 -1.6745993493191909,
 -0.4283397640216966,
 -2.802955665024705,
 -1.4852624011502458,
 -2.9902557856272787,
 -0.4956203627370184,
 -2.5563566804002273,
 -1.0123781676413268,
 -0.88029805851791,
 -2.1983613626563363,
 -1.3438249688129817,
 -1.4448375262054534,
 -0.7681940700808576,
 '+',
 -0.23023763336566522,
 -0.35903358263675106,
 -0.8515013604950771,
 -0.7306072544491268,
 -0.8813849394418113,
 -0.7208975090321359,
 -0.7173537871524408,
 -191.6321839080703,
 -1.0985630893578804,
 -0.5185232893652115,
 -2.6517702936096867,
 -0.08822213939619859,
 -0.1822246519710233,
 '+',
 '+',
 -2.6620134565805436,
 -0.8873328820443351,
 -2.376396601324696,
 -0.10628637951105707,
 -1.5829671223958426,
 -0.13848662127170278,
 -0.7732525524514753,
 -0.6563869033894407,
 -0.5880256593014948,
 -15.842406876791811,
 -1.551636736234694,
 -1.5809719467271075,
 -0.8374164810690458,
 -0.9441507699379386,
 -3.433736017897102,
 -0.990338556466679,
 -0.28257787230271647,
 -2.116426636246972,
 -0.36928583603204446,
 -0.7669871475540493,
 -1.0375026635414495,
 -1.4980629947785087,
 -0.044195475225163094,
 -1.038237463126845,
 -0.3926263627353706,
 -1.1616922922319444,
 -1.1473743647656673,
 -1.149137055837564,
 -0.7315697596347484,
 -1.9338021565869632,
 -0.938425671969272,
 '-',
 -0.7325593289689019,
 -8.273414658735787,
 -0.9639507209855767,
 -0.15951260038770973,
 -4.277870216306223,
 -0.13821839080459622,
 -0.6788452864230905,
 -1.9108982035928193,
 -0.8073893473368335,
 -0.40264810728231265,
 -0.6657117672983632,
 -3.551330798479105,
 -4.533556423126912,
 -2.186423012784886,
 -0.4366114440136247,
 -3.319011058674388,
 -2.0202105978260487,
 -8.3446344339627,
 -7.968769676363093,
 -0.4595505354123617,
 -0.9658349834983508,
 -10.544600938966614,
 -1.1337289358074862,
 '+',
 -0.24867251357317668,
 -1.3689573025471915,
 -0.4554228548763756,
 -0.2946008565611193,
 -0.745767441860463,
 -0.8095769216227464,
 -1.8449206434029788,
 -3.5137614678899136,
 '-',
 -1.3147377185678581,
 -10.205026455026356,
 -0.6042492201331967,
 -3.337719298245625,
 -0.09079056159765993,
 -0.7964521264498505,
 -0.29754210732471625,
 -0.9080550442632942,
 -0.49709581714095763,
 -1.3969429857464382,
 -45.81420765026374,
 -1.4759822848058168,
 '+',
 -2.905349794238666,
 -0.16325416325416325,
 -0.27505133470226206,
 '-',
 '+',
 -1.786203638081734,
 -2.346220079214714,
 -1.2106854235258966,
 -0.9160298005287139,
 -0.38938654475813517,
 -2.252639729691689,
 -1.1286565547128802,
 -5.248702422145576,
 -1.8035087719298077,
 -1.9424137931034564,
 -0.6405759908753889,
 '+',
 -1.3778968041421094,
 -6.405808793868549,
 -0.49378276007192873,
 -0.2228493702339132,
 -1.5083939312326056,
 -1.8278887923544676,
 -0.18102473163006894,
 -2.347222222222208,
 -1.3097050115144206,
 -0.21307099824601566,
 -1.0909136295556683,
 -1.2361240130051072,
 -0.6301594266491163,
 -1.9053574446509995,
 -1.056849585471775,
 -8.154685494223354,
 -14.309694793537538,
 -0.6691935838277353,
 -1.1104679208876038,
 -3.15791707938308,
 -14.976973684210696,
 -0.7782680639823465,
 -70.42067736185786,
 -2.211213935764891,
 -2.7117260787991997,
 -9.275563258232019,
 -0.6410563914964128,
 -0.5466623107916792,
 -4.175783324482041,
 -2.79950023798191,
 -0.4455053326561722,
 -0.7361246016733951,
 -0.8599051590221587,
 -0.6052480289093302,
 -0.42868623340321615,
 -1.4067273795534678,
 -0.5020303805083487,
 -1.0624141936846534,
 '+',
 -2.3642845501955723,
 -0.9248777702437451,
 -0.07294203604481138,
 -2.8352188321334704,
 -1.5632930067866657,
 -0.8251536783660463,
 -0.3289090780041148,
 -1.1720736876426445,
 -0.19210977701543946,
 -1.8337577815506505,
 -0.6310112120729049,
 -2.126636999364273,
 -4.358930112165946,
 -1.5413504146009707,
 -1.6959831976896795,
 -0.14704518044345408,
 -0.7583054159687297,
 '+',
 '+',
 '-',
 -0.8134030471692797,
 -0.703844801312859,
 -0.5757968385592134,
 -0.8513229134743068,
 -0.9614872575123603,
 -0.46706958004029164,
 -1.5516995483717655,
 -3.9689009661836914,
 -1.2477528801113835,
 -0.08105099087063607,
 -1.2500806711842556,
 -1.5430722051853805,
 -2.2846577726218413,
 -0.8970336433893293,
 -0.9524306461431407,
 -0.5730125916181181,
 -1.3592502850627135,
 -0.40709562444309433,
 -6.4147537767311675,
 -1.808684945778277,
 -1.1944807173326384,
 -0.5993072545839403,
 -2.181456953642386,
 -6.19374009508766,
 -0.3565657021622395,
 -2.1534689695550377,
 -1.3922196459460523,
 -8.659764826176083,
 -0.3986257269454466,
 -0.4380205781479655,
 -0.30541822470951163,
 '-',
 -0.3448077614085518,
 -1.5303785388612001,
 -1.4651616680762503,
 -0.5372673434856172,
 -2.370236869206993,
 -1.652505363162739,
 -3.305635838150254,
 -0.728763127187863,
 -1.5652353806546462,
 -1.6127744510978161,
 -0.5318419764245085,
 -1.8810330547398582,
 -0.11449662321344417,
 -0.6756191140565031,
 -0.6595368285622351,
 -0.1414803128001097,
 -1.7855320885624042,
 -1.808219178082183,
 -0.6159402606276533,
 -0.5210288008215432,
 -0.5073662237565745,
 -0.4808537104324205,
 -0.7656668452062106,
 -1.4388835418671861,
 -0.03540194500804226,
 -0.8082092918358131,
 -0.09241079050708396,
 -1.1770680628272248,
 -0.47832099568860714,
 '+',
 -4.266992266992165,
 -0.5815817111945566,
 -23.2192307692356,
 -1.8913002310343496,
 -3.0871843735112225,
 -0.896388631039204,
 -0.9951609509783301,
 -1.1659700907725428,
 -0.34038869652630793,
 -1.17681685646696,
 -0.6938436433763532,
 -0.5960851165642352,
 -3.3090781263732527,
 -0.4758629724241817,
 -0.8408416890269719,
 -0.28336873059957324,
 -1.6953071083505626,
 '-',
 -0.7530499501266055,
 -0.5971093508898266,
 -1.0776324186343267,
 -0.5394923779902514,
 -1.4708559046587275,
 -81.65277777778323,
 -1.649680912782823,
 -2.6849396692983687,
 -0.16515795307590517,
 -3.5607644840589736,
 -2.7633495145630986,
 -0.1757784359241101,
 '-',
 -3.052134937485235]

In [14]:
diff3 = []
for i in diff2:
    if i != '+' and i != '-':
        i = abs(float(i))
        i = 100*(1-1/(1+i))
    diff3.append(i)
diff3

['+',
 50.68963102989561,
 28.65837778399386,
 45.55712017794845,
 83.51948573724371,
 '+',
 24.52839245427928,
 95.336526543896,
 73.06541080843574,
 33.16416419048613,
 19.065438364925324,
 44.014330927436674,
 56.130678293388314,
 39.87385381883713,
 52.32917359174435,
 58.21195437998217,
 73.50612177496083,
 64.22705466766654,
 28.845724778359294,
 39.744663314203564,
 '-',
 52.09192119185953,
 42.63540332500605,
 45.59577382117004,
 36.147858852003544,
 '+',
 67.856144021711,
 44.479392669381056,
 33.09977003552041,
 68.05071991008393,
 57.42225226965413,
 59.95882942027377,
 30.52589504939185,
 61.52543269994181,
 53.76040847223648,
 86.3062039872634,
 55.824269567071894,
 30.610702296525215,
 24.24533831035448,
 26.125802953199283,
 46.047444578424965,
 33.49913214683563,
 62.841028843526715,
 85.22962350020711,
 19.44463155931161,
 38.516585473770746,
 45.61293276961895,
 74.77015616876496,
 57.496814706953046,
 65.25523012552294,
 56.251590825532375,
 73.32371654516909,
 18.720779041137405,
 74.42440002166977,
 23.087746767948182,
 4.64885874328419,
 42.36331083872735,
 61.557111546443856,
 73.96629523897202,
 57.92481203007469,
 34.814567808159644,
 49.425354159099044,
 82.14219001008726,
 72.30651713482212,
 72.78123101369415,
 41.41832570792623,
 20.409438974839812,
 40.074586279232314,
 54.97264912737696,
 '+',
 17.832407811817465,
 32.40400239459525,
 46.173476702509255,
 20.420053225922153,
 80.94060319686886,
 31.33549713664251,
 84.89482735811573,
 61.435626175176154,
 55.129890453834186,
 61.98735851830084,
 46.27318261811273,
 48.988544967097134,
 60.750736351804925,
 31.131507399230163,
 57.73578854531376,
 19.190628328008618,
 46.25948454254672,
 45.83654587509673,
 62.04546494076757,
 44.246893625618824,
 48.97796655163259,
 83.97371472748384,
 '-',
 90.94257263674874,
 33.047683528387765,
 99.43599083485157,
 32.59247499603115,
 38.557220009286155,
 68.22201535955321,
 55.1640424498857,
 37.75316916800219,
 '+',
 50.05815953734505,
 '-',
 10.157169563110092,
 9.179715558109914,
 35.72758451739341,
 67.47092125578997,
 36.52543573756562,
 49.624955351827715,
 '+',
 69.17027820494883,
 19.495498874718752,
 58.941557205406326,
 49.21030756442279,
 20.99318272958187,
 19.83285270541877,
 78.17696279152558,
 62.61122249003216,
 29.988646595936263,
 73.70466321243575,
 59.76280011570717,
 74.9389499389499,
 33.13811279153903,
 71.88133559518384,
 50.30755073376281,
 46.816942374113765,
 68.73398948361891,
 57.33469805527138,
 59.0974864676564,
 43.445121951219356,
 '+',
 18.714891100818033,
 26.41830100623166,
 45.98977773731651,
 42.21681450663327,
 46.84766636344552,
 41.890786943934955,
 41.77087985707891,
 99.48087594725229,
 52.34834706322884,
 34.14654836028033,
 72.61602128288513,
 8.106997294242591,
 15.413707679603494,
 '+',
 '+',
 72.69261809502568,
 47.01517630971317,
 70.38262627063243,
 9.607492370830084,
 61.28483435466862,
 12.164097380170503,
 43.60645365390698,
 39.62763180789981,
 37.02872531418304,
 94.06260632868357,
 60.8094684560921,
 61.254906266296885,
 45.57575757575767,
 48.56366000709286,
 77.44565765838503,
 49.75729145421188,
 22.032024597101575,
 67.91196723936768,
 26.969229237203795,
 43.40649271930194,
 50.92030955866984,
 59.968983885105544,
 4.2324905895261615,
 50.938003147783014,
 28.193230664123092,
 53.73994700385866,
 53.43150144622663,
 53.469696253956265,
 42.24893369523058,
 65.91453865575757,
 48.41174389812497,
 '-',
 42.281918819188135,
 89.216485654958,
 49.08222546957969,
 13.75686649152178,
 81.05296343001285,
 12.143398131784789,
 40.43524986566349,
 65.64634246688065,
 44.671578291999566,
 28.706281011739975,
 39.96560391586167,
 78.0284043441939,
 81.9284394422978,
 68.61684729278882,
 30.391755949946607,
 76.84655152730902,
 66.88972614294508,
 89.29867179859342,
 88.85019867735629,
 31.485757037013208,
 49.1310304072204,
 91.33794225294795,
 53.13369082556116,
 '+',
 19.914950547087827,
 57.78733542707746,
 31.29144587433729,
 22.756114756765644,
 42.718601801033664,
 44.738464109984044,
 64.84963465259122,
 77.84552845528458,
 '-',
 56.798561151079106,
 91.07543383307748,
 37.66554551187673,
 76.94641051567245,
 8.323372496428705,
 44.33472591467269,
 22.93121014301348,
 47.590610501171206,
 33.204008150278206,
 58.280192480732396,
 97.86389634644523,
 59.61198890086459,
 '+',
 74.39409905163319,
 14.034264257216622,
 21.571785167888113,
 '-',
 '+',
 64.10886891639811,
 70.11553405552814,
 54.765160643929775,
 47.80874495145861,
 28.025789239661858,
 69.25574047222291,
 53.0220129787502,
 83.99667751090256,
 64.33041301627013,
 66.01429743349358,
 39.04579820978523,
 '+',
 57.94603036355157,
 86.49708589792482,
 33.05586148605384,
 18.223779286183493,
 60.133853476969314,
 64.63793050477733,
 15.327768062927493,
 70.12448132780071,
 56.70442783754783,
 17.56459420380967,
 52.17401685728616,
 55.27976113202645,
 38.65630663771606,
 65.58082717701114,
 51.38195777351253,
 89.07663184463296,
 93.46819114629173,
 40.09083130389014,
 52.61714285714289,
 75.94949632453054,
 93.74099238212895,
 43.76550868486342,
 98.59984525919093,
 68.85912866587613,
 73.05835671140055,
 90.2681733850563,
 39.0636418600984,
 35.34464549743007,
 80.6792530268822,
 73.6807491152798,
 30.820040756095924,
 42.40044758100127,
 46.23381761434825,
 37.70433092016066,
 30.005624984714796,
 58.449801647848666,
 33.4234504856314,
 51.513134313072825,
 '+',
 70.27599820764661,
 48.04864935016777,
 6.7983202814662524,
 73.92586854180323,
 60.98768274433066,
 45.21009316348409,
 24.750307108903378,
 53.96104627162526,
 16.115107913669203,
 64.7111688052324,
 38.688342998631654,
 68.01675409702737,
 81.33955884720756,
 60.65084160552434,
 62.907780699191704,
 12.819475897767651,
 43.12705910371919,
 '+',
 '+',
 '-',
 44.855061230816894,
 41.309208489560035,
 36.54004275612568,
 45.98457175019034,
 49.018277015562084,
 31.83690715115667,
 60.81043316255246,
 79.87482530230345,
 55.51112362714683,
 7.497425334706998,
 55.55714900329849,
 60.67748300811208,
 69.5554280164234,
 47.28612202083284,
 48.78179145695063,
 36.427718040621315,
 57.61365352665759,
 28.9316246437918,
 86.5133754928157,
 64.39614911230625,
 54.43113297365918,
 37.47292791089415,
 68.56786011656955,
 86.09902516935713,
 26.2844403034742,
 68.2888904360742,
 58.19781842797593,
 89.64778110032043,
 28.501243704134648,
 30.459965928449694,
 23.39619739700469,
 '-',
 25.639929460802648,
 60.480221253771326,
 59.43470917344036,
 34.94950606752701,
 70.3284950343773,
 62.299793474964325,
 76.7746266152037,
 42.15517532314125,
 61.01722253086963,
 61.72650878533248,
 34.719114935464,
 65.29022815775036,
 10.27339346110483,
 40.32056619483757,
 39.742223083632,
 12.394459301102723,
 64.10021610930019,
 64.39024390243891,
 38.11652420791928,
 34.25502531839787,
 33.65912117177101,
 32.47138505612466,
 43.36417412407091,
 58.997632202052195,
 3.4191499425633487,
 44.696667331869854,
 8.45934435197111,
 54.06666346015101,
 32.355692510867954,
 '+',
 81.01383200679973,
 36.77215708035042,
 95.87104970621013,
 65.41348458848032,
 75.5332789369392,
 47.26819262505234,
 49.87873035959086,
 53.83131077108608,
 25.394775217699472,
 54.06136271734727,
 40.96267362631587,
 37.3466997704596,
 76.7931801031964,
 32.24303213207877,
 45.67702339854234,
 22.08007128763274,
 62.89847650748911,
 '-',
 42.95655979866518,
 37.38687964960873,
 51.86829051034341,
 35.04352380714857,
 59.52819433482427,
 98.79011930767946,
 62.25960661241463,
 72.86251364352988,
 14.174726494369628,
 78.07385135769994,
 73.42792647533048,
 14.949962557014917,
 '-',
 75.3216510450019]

In [15]:
diff4 = []
for i in diff3:
    if i == '-':
        i = int('0')
    if i =='+':
        i = int('100')
    diff4.append(i)
diff4

[100,
 50.68963102989561,
 28.65837778399386,
 45.55712017794845,
 83.51948573724371,
 100,
 24.52839245427928,
 95.336526543896,
 73.06541080843574,
 33.16416419048613,
 19.065438364925324,
 44.014330927436674,
 56.130678293388314,
 39.87385381883713,
 52.32917359174435,
 58.21195437998217,
 73.50612177496083,
 64.22705466766654,
 28.845724778359294,
 39.744663314203564,
 0,
 52.09192119185953,
 42.63540332500605,
 45.59577382117004,
 36.147858852003544,
 100,
 67.856144021711,
 44.479392669381056,
 33.09977003552041,
 68.05071991008393,
 57.42225226965413,
 59.95882942027377,
 30.52589504939185,
 61.52543269994181,
 53.76040847223648,
 86.3062039872634,
 55.824269567071894,
 30.610702296525215,
 24.24533831035448,
 26.125802953199283,
 46.047444578424965,
 33.49913214683563,
 62.841028843526715,
 85.22962350020711,
 19.44463155931161,
 38.516585473770746,
 45.61293276961895,
 74.77015616876496,
 57.496814706953046,
 65.25523012552294,
 56.251590825532375,
 73.32371654516909,
 18.720779041137405,
 74.42440002166977,
 23.087746767948182,
 4.64885874328419,
 42.36331083872735,
 61.557111546443856,
 73.96629523897202,
 57.92481203007469,
 34.814567808159644,
 49.425354159099044,
 82.14219001008726,
 72.30651713482212,
 72.78123101369415,
 41.41832570792623,
 20.409438974839812,
 40.074586279232314,
 54.97264912737696,
 100,
 17.832407811817465,
 32.40400239459525,
 46.173476702509255,
 20.420053225922153,
 80.94060319686886,
 31.33549713664251,
 84.89482735811573,
 61.435626175176154,
 55.129890453834186,
 61.98735851830084,
 46.27318261811273,
 48.988544967097134,
 60.750736351804925,
 31.131507399230163,
 57.73578854531376,
 19.190628328008618,
 46.25948454254672,
 45.83654587509673,
 62.04546494076757,
 44.246893625618824,
 48.97796655163259,
 83.97371472748384,
 0,
 90.94257263674874,
 33.047683528387765,
 99.43599083485157,
 32.59247499603115,
 38.557220009286155,
 68.22201535955321,
 55.1640424498857,
 37.75316916800219,
 100,
 50.05815953734505,
 0,
 10.157169563110092,
 9.179715558109914,
 35.72758451739341,
 67.47092125578997,
 36.52543573756562,
 49.624955351827715,
 100,
 69.17027820494883,
 19.495498874718752,
 58.941557205406326,
 49.21030756442279,
 20.99318272958187,
 19.83285270541877,
 78.17696279152558,
 62.61122249003216,
 29.988646595936263,
 73.70466321243575,
 59.76280011570717,
 74.9389499389499,
 33.13811279153903,
 71.88133559518384,
 50.30755073376281,
 46.816942374113765,
 68.73398948361891,
 57.33469805527138,
 59.0974864676564,
 43.445121951219356,
 100,
 18.714891100818033,
 26.41830100623166,
 45.98977773731651,
 42.21681450663327,
 46.84766636344552,
 41.890786943934955,
 41.77087985707891,
 99.48087594725229,
 52.34834706322884,
 34.14654836028033,
 72.61602128288513,
 8.106997294242591,
 15.413707679603494,
 100,
 100,
 72.69261809502568,
 47.01517630971317,
 70.38262627063243,
 9.607492370830084,
 61.28483435466862,
 12.164097380170503,
 43.60645365390698,
 39.62763180789981,
 37.02872531418304,
 94.06260632868357,
 60.8094684560921,
 61.254906266296885,
 45.57575757575767,
 48.56366000709286,
 77.44565765838503,
 49.75729145421188,
 22.032024597101575,
 67.91196723936768,
 26.969229237203795,
 43.40649271930194,
 50.92030955866984,
 59.968983885105544,
 4.2324905895261615,
 50.938003147783014,
 28.193230664123092,
 53.73994700385866,
 53.43150144622663,
 53.469696253956265,
 42.24893369523058,
 65.91453865575757,
 48.41174389812497,
 0,
 42.281918819188135,
 89.216485654958,
 49.08222546957969,
 13.75686649152178,
 81.05296343001285,
 12.143398131784789,
 40.43524986566349,
 65.64634246688065,
 44.671578291999566,
 28.706281011739975,
 39.96560391586167,
 78.0284043441939,
 81.9284394422978,
 68.61684729278882,
 30.391755949946607,
 76.84655152730902,
 66.88972614294508,
 89.29867179859342,
 88.85019867735629,
 31.485757037013208,
 49.1310304072204,
 91.33794225294795,
 53.13369082556116,
 100,
 19.914950547087827,
 57.78733542707746,
 31.29144587433729,
 22.756114756765644,
 42.718601801033664,
 44.738464109984044,
 64.84963465259122,
 77.84552845528458,
 0,
 56.798561151079106,
 91.07543383307748,
 37.66554551187673,
 76.94641051567245,
 8.323372496428705,
 44.33472591467269,
 22.93121014301348,
 47.590610501171206,
 33.204008150278206,
 58.280192480732396,
 97.86389634644523,
 59.61198890086459,
 100,
 74.39409905163319,
 14.034264257216622,
 21.571785167888113,
 0,
 100,
 64.10886891639811,
 70.11553405552814,
 54.765160643929775,
 47.80874495145861,
 28.025789239661858,
 69.25574047222291,
 53.0220129787502,
 83.99667751090256,
 64.33041301627013,
 66.01429743349358,
 39.04579820978523,
 100,
 57.94603036355157,
 86.49708589792482,
 33.05586148605384,
 18.223779286183493,
 60.133853476969314,
 64.63793050477733,
 15.327768062927493,
 70.12448132780071,
 56.70442783754783,
 17.56459420380967,
 52.17401685728616,
 55.27976113202645,
 38.65630663771606,
 65.58082717701114,
 51.38195777351253,
 89.07663184463296,
 93.46819114629173,
 40.09083130389014,
 52.61714285714289,
 75.94949632453054,
 93.74099238212895,
 43.76550868486342,
 98.59984525919093,
 68.85912866587613,
 73.05835671140055,
 90.2681733850563,
 39.0636418600984,
 35.34464549743007,
 80.6792530268822,
 73.6807491152798,
 30.820040756095924,
 42.40044758100127,
 46.23381761434825,
 37.70433092016066,
 30.005624984714796,
 58.449801647848666,
 33.4234504856314,
 51.513134313072825,
 100,
 70.27599820764661,
 48.04864935016777,
 6.7983202814662524,
 73.92586854180323,
 60.98768274433066,
 45.21009316348409,
 24.750307108903378,
 53.96104627162526,
 16.115107913669203,
 64.7111688052324,
 38.688342998631654,
 68.01675409702737,
 81.33955884720756,
 60.65084160552434,
 62.907780699191704,
 12.819475897767651,
 43.12705910371919,
 100,
 100,
 0,
 44.855061230816894,
 41.309208489560035,
 36.54004275612568,
 45.98457175019034,
 49.018277015562084,
 31.83690715115667,
 60.81043316255246,
 79.87482530230345,
 55.51112362714683,
 7.497425334706998,
 55.55714900329849,
 60.67748300811208,
 69.5554280164234,
 47.28612202083284,
 48.78179145695063,
 36.427718040621315,
 57.61365352665759,
 28.9316246437918,
 86.5133754928157,
 64.39614911230625,
 54.43113297365918,
 37.47292791089415,
 68.56786011656955,
 86.09902516935713,
 26.2844403034742,
 68.2888904360742,
 58.19781842797593,
 89.64778110032043,
 28.501243704134648,
 30.459965928449694,
 23.39619739700469,
 0,
 25.639929460802648,
 60.480221253771326,
 59.43470917344036,
 34.94950606752701,
 70.3284950343773,
 62.299793474964325,
 76.7746266152037,
 42.15517532314125,
 61.01722253086963,
 61.72650878533248,
 34.719114935464,
 65.29022815775036,
 10.27339346110483,
 40.32056619483757,
 39.742223083632,
 12.394459301102723,
 64.10021610930019,
 64.39024390243891,
 38.11652420791928,
 34.25502531839787,
 33.65912117177101,
 32.47138505612466,
 43.36417412407091,
 58.997632202052195,
 3.4191499425633487,
 44.696667331869854,
 8.45934435197111,
 54.06666346015101,
 32.355692510867954,
 100,
 81.01383200679973,
 36.77215708035042,
 95.87104970621013,
 65.41348458848032,
 75.5332789369392,
 47.26819262505234,
 49.87873035959086,
 53.83131077108608,
 25.394775217699472,
 54.06136271734727,
 40.96267362631587,
 37.3466997704596,
 76.7931801031964,
 32.24303213207877,
 45.67702339854234,
 22.08007128763274,
 62.89847650748911,
 0,
 42.95655979866518,
 37.38687964960873,
 51.86829051034341,
 35.04352380714857,
 59.52819433482427,
 98.79011930767946,
 62.25960661241463,
 72.86251364352988,
 14.174726494369628,
 78.07385135769994,
 73.42792647533048,
 14.949962557014917,
 0,
 75.3216510450019]

In [16]:
df_index5=df_index4.groupby([pd.Grouper(freq='W')]).mean()
df_index5
df_index5.dropna(inplace=True)
df_index5['RSI'] = diff4
df_index5 = df_index5.drop('binary',axis = 1)
df_index5

                   RSI
date
2015-04-19  100.000000
2015-04-26   50.689631
2015-05-03   28.658378
2015-05-10   45.557120
2015-05-17   83.519486
...                ...
2022-12-04   78.073851
2022-12-11   73.427926
2022-12-18   14.949963
2022-12-25    0.000000
2023-01-01   75.321651

[395 rows x 1 columns]

In [17]:
df_index5['week'] = range(1, len(df_index5) + 1)
df_index5.set_index("week", inplace=True)
df_index5

             RSI
week
1     100.000000
2      50.689631
3      28.658378
4      45.557120
5      83.519486
...          ...
391    78.073851
392    73.427926
393    14.949963
394     0.000000
395    75.321651

[395 rows x 1 columns]

In [18]:
df_index5.to_csv('C:/Users/XLL/Desktop/CS毕设项目/CSI300_Index & Future_0521Final/500/500_weekly_RSI.csv', index = False, header=True)