In [1]:
import pandas as pd
import numpy as np

In [2]:
df_index= pd.read_excel('C:/Users/XLL/Desktop/CS毕设项目/CSI300_Index & Future_0521Final/50/上证50指数2022-12-31.xlsx')
df_index.head()

        date  index_level
0 2015-04-16      3183.30
1 2015-04-17      3235.33
2 2015-04-20      3164.46
3 2015-04-21      3214.36
4 2015-04-22      3299.22

In [3]:
diff = np.array(df_index["index_level"])
diff = np.diff(diff)
diff

array([ 52.03, -70.87,  49.9 , ...,   5.86, -16.24,  13.18])

In [4]:
df_index.drop([0], inplace=True)

In [5]:
df_index3 = pd.DataFrame(np.insert(df_index.values,2,diff,axis = 1))
df_index3.columns = ['date','index_level','diff']
df_index3['date']=pd.to_datetime(df_index3['date'])
df_index3

           date index_level   diff
0    2015-04-17     3235.33  52.03
1    2015-04-20     3164.46 -70.87
2    2015-04-21     3214.36   49.9
3    2015-04-22     3299.22  84.86
4    2015-04-23      3273.4 -25.82
...         ...         ...    ...
1874 2022-12-26     2607.52  -8.36
1875 2022-12-27     2632.45  24.93
1876 2022-12-28     2638.31   5.86
1877 2022-12-29     2622.07 -16.24
1878 2022-12-30     2635.25  13.18

[1879 rows x 3 columns]

In [6]:
df_index3.set_index("date", inplace=True)
df_index3

           index_level   diff
date
2015-04-17     3235.33  52.03
2015-04-20     3164.46 -70.87
2015-04-21     3214.36   49.9
2015-04-22     3299.22  84.86
2015-04-23      3273.4 -25.82
...                ...    ...
2022-12-26     2607.52  -8.36
2022-12-27     2632.45  24.93
2022-12-28     2638.31   5.86
2022-12-29     2622.07 -16.24
2022-12-30     2635.25  13.18

[1879 rows x 2 columns]

In [7]:
df_index4 = df_index3.drop('index_level',axis = 1)
df_index4
#check missing value
df_index4.isnull().sum()
#find out missing value
df_index4[df_index4.isnull().values==True]
df_index4.dropna(inplace=True)
df_index4

             diff
date
2015-04-17  52.03
2015-04-20 -70.87
2015-04-21   49.9
2015-04-22  84.86
2015-04-23 -25.82
...           ...
2022-12-26  -8.36
2022-12-27  24.93
2022-12-28   5.86
2022-12-29 -16.24
2022-12-30  13.18

[1879 rows x 1 columns]

In [8]:
df_index4['binary'] = df_index4['diff'].apply(lambda x: 1 if x > 0 else 0)
df_index4

             diff  binary
date
2015-04-17  52.03       1
2015-04-20 -70.87       0
2015-04-21   49.9       1
2015-04-22  84.86       1
2015-04-23 -25.82       0
...           ...     ...
2022-12-26  -8.36       0
2022-12-27  24.93       1
2022-12-28   5.86       1
2022-12-29 -16.24       0
2022-12-30  13.18       1

[1879 rows x 2 columns]

In [9]:
weekly_groups=df_index4.groupby([pd.Grouper(freq='W'),'binary']).mean()
weekly_groups

                        diff
date       binary
2015-04-19 1       52.030000
2015-04-26 0      -48.710000
           1       67.380000
2015-05-03 0      -29.455000
           1       42.720000
...                      ...
2022-12-18 1        8.510000
2022-12-25 0      -30.893333
           1       10.135000
2023-01-01 0      -12.300000
           1       14.656667

[760 rows x 1 columns]

In [10]:
df = weekly_groups
df

                        diff
date       binary
2015-04-19 1       52.030000
2015-04-26 0      -48.710000
           1       67.380000
2015-05-03 0      -29.455000
           1       42.720000
...                      ...
2022-12-18 1        8.510000
2022-12-25 0      -30.893333
           1       10.135000
2023-01-01 0      -12.300000
           1       14.656667

[760 rows x 1 columns]

In [11]:
grouped = df.groupby('date')['diff']
diff1 = grouped.apply(lambda x: x.loc[x.index.get_level_values('binary') == 1].sum() / x.loc[x.index.get_level_values('binary') == 0].sum() if 0 in x.index.get_level_values('binary') and 1 in x.index.get_level_values('binary') else '+' if 1 in x.index.get_level_values('binary') else '-').to_numpy()
diff1

array(['+', -1.3832888523917068, -1.4503479884569617,
       -0.31417602890532664, -0.9130179827990601, -1.0096339890357962,
       -0.7505449393300875, -2.6727867203219167, -2.1218299130746505,
       -0.2675847678664576, -0.4608154534258114, -2.215146349215525,
       -0.6384356416179292, -1.6513242478786392, -1.7425641025641045,
       -0.5624424104674705, -1.0890145876749082, -3.3227974116475814,
       -0.27208146589835525, -0.45881727351599444, '+',
       -0.9232424677187921, -0.6906402956747572, -0.5028631468347808,
       -0.6733096085409246, '+', -3.026422764227649, -1.6364073006723716,
       -0.41024138739161187, -3.579057760567949, -1.8815896188158932,
       -3.2780898876404736, -0.3239338797055106, -0.49698700892158404,
       -0.3569657907783611, -2.063053673788433, -2.4965771458662664,
       -0.6925061821309603, -0.19997680352586408, -0.30347658136165784,
       -1.3492268041237143, -0.2830217161588064, -1.3566561409340205,
       -3.3858751279426658, -0.42274468564561113, -4.116311399443859,
       -0.36802810715853707, -4.038172043010681, -0.7591375533264155,
       -2.1432033233325782, -0.6631243358129655, -3.458700440528659,
       -0.5806695192549682, -1.0107671601614978, -1.3320327740928521,
       -0.43183918669131166, -1.048169556840064, -0.8050847457627202,
       -3.5435868961688253, -0.2452073116362033, -0.3275453392866951,
       -0.22920361455958502, -37.59558823532806, -3.11716417910449,
       -9.721733668341606, -0.9305979921431926, -1.3905390539053792,
       -0.6999999999999889, -3.7647619047619023, -2.4379366557988003,
       -0.5532281205164673, -1.0729646697388682, -0.6211228896741334, '-',
       -2.0310559006211375, -0.34090127278981475, -1.2363304981774053,
       -1.8008800880087767, -2.4461092315128394, -2.644089188052102,
       -0.7432432432432432, -1.3993055555555667, '+', -1.0734830042376797,
       -0.5941877482751379, '-', -1.7038285576691519, -2.1443877551020494,
       -0.8680252304706529, -1.4424585876198708, -2.33739056160579,
       -80.52380952414362, '-', -1.3460342146190036, -1.1124232404345928,
       -0.8806870937790185, -0.0465986394557787, -0.38641188959660255,
       -0.33693207377417916, -0.5006724045185609, -2.7638668779714823,
       -7.2264150943399645, -0.3305322128851821, -0.5057471264367787,
       -1.4092627599243992, '-', -1.6478083588175385, -0.7338888888888909,
       -11.868098159509252, -0.6012386850881383, -0.6861808044603716,
       -0.1111436092424737, -2.21878224974199, -1.3599069921939784,
       -1.3069942903752054, -3.8885321100915684, -0.9912017596480738,
       -1.2703583061889183, -1.2614330679503871, -0.17051756007393018,
       -1.3000488281250167, -1.9871076233183678, -1.7006204756980392,
       -0.6857043558850817, -1.971191135734073, -1.2825396825397013,
       -0.9796076406814435, -2.314889336016189, -1.418914728682163,
       -11.354253835424952, -0.6676718938479951, -4.690731707317096,
       -2.8385172560716003, -0.6492784324109603, '-', -0.9173567137522353,
       -0.8335792269105926, -1.2876712328767173, -0.4218891096261538, '+',
       '+', '+', -0.8507870572802831, -0.5019574346928589,
       -0.34149363065902105, -6.9066390041491355, '+',
       -0.35892506544502545, -2.687786960514235, -0.6007200000000048,
       -0.44722394403612836, -0.6477049180327905, -0.4099678456591549,
       -0.9384684990385723, -0.5583141336299384, -1.6333140960900274,
       -1.22083559414, -5.728682170542311, -1.9506266616027403,
       -0.24896461957165802, -1.2302295918367352, -0.7228735632183894,
       -2.7094320486815606, -0.15720229393904858, -1.3809373620134977,
       -0.214995324918186, -1.9354011791848362, -1.9521390374331518,
       -1.2075993091537174, -0.22827077951678804, -4.770109356014575, '-',
       -11.21748878923757, -4.207271207689094, -0.9065154284485495,
       -1.1732989873867532, -1.7004698512137828, -1.9981889526109282,
       -0.18163913880309723, -0.6825708061002184, -0.8312028843002268,
       -0.48276188075129267, -0.13080281564644292, -0.45641297756215893,
       -0.5410846343467519, -1.3816784430395388, -1.5614490981351232,
       -0.5802578138795723, -0.08548292845813327, -0.9098583056979128,
       -0.8554932365555958, -7.275362318840617, -1.92777610592838,
       -1.1234010534236272, -2.552845528455326, -0.854790182106098,
       -5.4432383536861915, -2.842723394825765, -0.23219696969697368, '+',
       -3.157916783021502, -2.1677679124509646, -9.58109209454021,
       -0.30863776032775603, -5.1544266519418, -0.21173937820553754, '+',
       -0.5826065891472889, -0.7986904096462488, -0.8241444866920216,
       -1.3348225366095678, -1.166115702479358, -5.834005130084281,
       -10.169689119170648, -1.2668378995433787, -2.4458425609019567,
       -0.4212773634832802, -1.2752589182968868, -2.6744719926538143,
       -0.49633431085045365, -1.4246673858324332, -0.6582784571966086,
       -8.419475655430508, -0.712626910958105, -10.022482014387792,
       -1.7562372188138886, -0.28158806288302407, -0.3609123434704767,
       '-', '+', -0.44238231820482643, -0.3011634056055047,
       -1.4783401732786052, -0.8999881079795428, -0.15277561809983226,
       -0.8801605504587189, -2.050592605696085, -1.5687134502924505,
       -3.0770346202645857, -4.915278783490252, -0.7543411644535248,
       -1.940239043824736, -0.5463171903026087, -1.030931122448978,
       -0.13348172614346013, -0.4084763639850419, -1.9947916666666505,
       -4.5156808803301285, -0.26341525369911484, -0.9251972201352335,
       -1.000496726123277, -1.0241942527731698, -1.2773805043281892,
       -4.970095300690128, -3.5233702337022876, -1.904105296145415,
       -0.7188090737240035, '+', -1.0885471898197538, '-',
       -0.7243695498468058, -1.9237978810105814, -4.149565217391307,
       -0.5092360172491468, -0.4797297297297318, -2.664197530864069,
       -3.247359644246841, -0.7836325354609952, -0.40904905958174037,
       -1.1914592338649592, -2.169266441821231, -1.946775527077299,
       -2.3456284153005527, -1.4456480061349664, -0.8851289833080375,
       -0.6365701306076109, -0.40173349092341765, -1.702612527541712,
       -0.1818588025022361, -2.2920353982300754, '+', -4.051142546245897,
       -0.6116993118051904, -0.4713708842410427, -2.7782247251273633,
       -2.9591096661248026, '+', -1.83451154648892, -2.884366925064602,
       '-', -0.8843839087741467, -0.7198306280875083, -6.9152542372879005,
       -2.1193670886075986, -1.9162995594713608, -1.094186570527264,
       -0.44823046134400835, '+', '+', -0.009852216748759487,
       -0.28875270367700195, -0.9830409947935072, -0.4578097950522142,
       -0.4210667621263632, -1.8562902360515032, -0.8245312912595752,
       -0.37288858556560656, -0.4038525406841591, -2.2508085550338954,
       -0.9249766464269068, '-', -2.2668320926385372, -1.039765319426338,
       -8.115248226950534, -0.4843068875326952, -0.6490840176879333, '-',
       -1.111503856041124, -0.43937534857780197, -0.4437735849056613,
       -0.72576, -0.46909466000158145, -0.30112079701120864,
       -1.7875222816399199, -1.9690015534529095, -0.35779888737272875,
       -0.4271875440326899, -2.0218032576631897, -1.83093442997487,
       -1.0775074759557075, -0.2876452753916122, -4.6638418079095, '+',
       -1.3242966751918124, -0.8989581775584489, -1.4080489047376403,
       -1.1281827122718977, -5.728451216738693, -0.5622736899637859,
       -0.6528514588859466, -1.6983189459336547, -5.296183206107082,
       -0.3682988389702188, -0.8766083495325303, -0.523918403945307,
       -0.6044110746128601, -0.4370635254522484, -4.1412688031392975,
       -0.4081988661142662, -10.351136363635096, -0.37792341300437154,
       -0.3995374264087475, -1.1870162691517916, -0.2754510309278346,
       -0.6022706123208642, -0.4509610645638245, -5.708629605688482,
       -1.1290480863591705, -0.7039192007904282, -0.49906050357008475,
       -0.6226396193338343, '-', -1.0973009752778327, -3.737631184407833,
       -0.26106214689265633, -2.189956331877748, -2.758264462809941,
       -0.9456443073172589, -1.2318744960046968, -1.7524249422632745,
       -0.11595124536301048, '-', -0.7862333201215508,
       -0.9459790447679797, -1.1693419924028963, -0.9914308345934979,
       -1.0558472553699179, -1.5292385786802045, -1.8618952948972947,
       -3.8381016492763327, -0.38355263157894337, -0.05973715651134976,
       -0.8953940634595673, -1.124261520283575, -0.03337403337403997,
       -0.07063020214030988, -2.1891527979748955, -3.4934579439252427,
       -2.6622972972972816, -0.6366289415616816, -3.28571428571428,
       -1.8720070422535358, -0.386994088221919, -0.32806430729392055,
       -1.191598915989159], dtype=object)

In [12]:
diff2 = list(diff1)
diff2

['+',
 -1.3832888523917068,
 -1.4503479884569617,
 -0.31417602890532664,
 -0.9130179827990601,
 -1.0096339890357962,
 -0.7505449393300875,
 -2.6727867203219167,
 -2.1218299130746505,
 -0.2675847678664576,
 -0.4608154534258114,
 -2.215146349215525,
 -0.6384356416179292,
 -1.6513242478786392,
 -1.7425641025641045,
 -0.5624424104674705,
 -1.0890145876749082,
 -3.3227974116475814,
 -0.27208146589835525,
 -0.45881727351599444,
 '+',
 -0.9232424677187921,
 -0.6906402956747572,
 -0.5028631468347808,
 -0.6733096085409246,
 '+',
 -3.026422764227649,
 -1.6364073006723716,
 -0.41024138739161187,
 -3.579057760567949,
 -1.8815896188158932,
 -3.2780898876404736,
 -0.3239338797055106,
 -0.49698700892158404,
 -0.3569657907783611,
 -2.063053673788433,
 -2.4965771458662664,
 -0.6925061821309603,
 -0.19997680352586408,
 -0.30347658136165784,
 -1.3492268041237143,
 -0.2830217161588064,
 -1.3566561409340205,
 -3.3858751279426658,
 -0.42274468564561113,
 -4.116311399443859,
 -0.36802810715853707,
 -4.038172043010681,
 -0.7591375533264155,
 -2.1432033233325782,
 -0.6631243358129655,
 -3.458700440528659,
 -0.5806695192549682,
 -1.0107671601614978,
 -1.3320327740928521,
 -0.43183918669131166,
 -1.048169556840064,
 -0.8050847457627202,
 -3.5435868961688253,
 -0.2452073116362033,
 -0.3275453392866951,
 -0.22920361455958502,
 -37.59558823532806,
 -3.11716417910449,
 -9.721733668341606,
 -0.9305979921431926,
 -1.3905390539053792,
 -0.6999999999999889,
 -3.7647619047619023,
 -2.4379366557988003,
 -0.5532281205164673,
 -1.0729646697388682,
 -0.6211228896741334,
 '-',
 -2.0310559006211375,
 -0.34090127278981475,
 -1.2363304981774053,
 -1.8008800880087767,
 -2.4461092315128394,
 -2.644089188052102,
 -0.7432432432432432,
 -1.3993055555555667,
 '+',
 -1.0734830042376797,
 -0.5941877482751379,
 '-',
 -1.7038285576691519,
 -2.1443877551020494,
 -0.8680252304706529,
 -1.4424585876198708,
 -2.33739056160579,
 -80.52380952414362,
 '-',
 -1.3460342146190036,
 -1.1124232404345928,
 -0.8806870937790185,
 -0.0465986394557787,
 -0.38641188959660255,
 -0.33693207377417916,
 -0.5006724045185609,
 -2.7638668779714823,
 -7.2264150943399645,
 -0.3305322128851821,
 -0.5057471264367787,
 -1.4092627599243992,
 '-',
 -1.6478083588175385,
 -0.7338888888888909,
 -11.868098159509252,
 -0.6012386850881383,
 -0.6861808044603716,
 -0.1111436092424737,
 -2.21878224974199,
 -1.3599069921939784,
 -1.3069942903752054,
 -3.8885321100915684,
 -0.9912017596480738,
 -1.2703583061889183,
 -1.2614330679503871,
 -0.17051756007393018,
 -1.3000488281250167,
 -1.9871076233183678,
 -1.7006204756980392,
 -0.6857043558850817,
 -1.971191135734073,
 -1.2825396825397013,
 -0.9796076406814435,
 -2.314889336016189,
 -1.418914728682163,
 -11.354253835424952,
 -0.6676718938479951,
 -4.690731707317096,
 -2.8385172560716003,
 -0.6492784324109603,
 '-',
 -0.9173567137522353,
 -0.8335792269105926,
 -1.2876712328767173,
 -0.4218891096261538,
 '+',
 '+',
 '+',
 -0.8507870572802831,
 -0.5019574346928589,
 -0.34149363065902105,
 -6.9066390041491355,
 '+',
 -0.35892506544502545,
 -2.687786960514235,
 -0.6007200000000048,
 -0.44722394403612836,
 -0.6477049180327905,
 -0.4099678456591549,
 -0.9384684990385723,
 -0.5583141336299384,
 -1.6333140960900274,
 -1.22083559414,
 -5.728682170542311,
 -1.9506266616027403,
 -0.24896461957165802,
 -1.2302295918367352,
 -0.7228735632183894,
 -2.7094320486815606,
 -0.15720229393904858,
 -1.3809373620134977,
 -0.214995324918186,
 -1.9354011791848362,
 -1.9521390374331518,
 -1.2075993091537174,
 -0.22827077951678804,
 -4.770109356014575,
 '-',
 -11.21748878923757,
 -4.207271207689094,
 -0.9065154284485495,
 -1.1732989873867532,
 -1.7004698512137828,
 -1.9981889526109282,
 -0.18163913880309723,
 -0.6825708061002184,
 -0.8312028843002268,
 -0.48276188075129267,
 -0.13080281564644292,
 -0.45641297756215893,
 -0.5410846343467519,
 -1.3816784430395388,
 -1.5614490981351232,
 -0.5802578138795723,
 -0.08548292845813327,
 -0.9098583056979128,
 -0.8554932365555958,
 -7.275362318840617,
 -1.92777610592838,
 -1.1234010534236272,
 -2.552845528455326,
 -0.854790182106098,
 -5.4432383536861915,
 -2.842723394825765,
 -0.23219696969697368,
 '+',
 -3.157916783021502,
 -2.1677679124509646,
 -9.58109209454021,
 -0.30863776032775603,
 -5.1544266519418,
 -0.21173937820553754,
 '+',
 -0.5826065891472889,
 -0.7986904096462488,
 -0.8241444866920216,
 -1.3348225366095678,
 -1.166115702479358,
 -5.834005130084281,
 -10.169689119170648,
 -1.2668378995433787,
 -2.4458425609019567,
 -0.4212773634832802,
 -1.2752589182968868,
 -2.6744719926538143,
 -0.49633431085045365,
 -1.4246673858324332,
 -0.6582784571966086,
 -8.419475655430508,
 -0.712626910958105,
 -10.022482014387792,
 -1.7562372188138886,
 -0.28158806288302407,
 -0.3609123434704767,
 '-',
 '+',
 -0.44238231820482643,
 -0.3011634056055047,
 -1.4783401732786052,
 -0.8999881079795428,
 -0.15277561809983226,
 -0.8801605504587189,
 -2.050592605696085,
 -1.5687134502924505,
 -3.0770346202645857,
 -4.915278783490252,
 -0.7543411644535248,
 -1.940239043824736,
 -0.5463171903026087,
 -1.030931122448978,
 -0.13348172614346013,
 -0.4084763639850419,
 -1.9947916666666505,
 -4.5156808803301285,
 -0.26341525369911484,
 -0.9251972201352335,
 -1.000496726123277,
 -1.0241942527731698,
 -1.2773805043281892,
 -4.970095300690128,
 -3.5233702337022876,
 -1.904105296145415,
 -0.7188090737240035,
 '+',
 -1.0885471898197538,
 '-',
 -0.7243695498468058,
 -1.9237978810105814,
 -4.149565217391307,
 -0.5092360172491468,
 -0.4797297297297318,
 -2.664197530864069,
 -3.247359644246841,
 -0.7836325354609952,
 -0.40904905958174037,
 -1.1914592338649592,
 -2.169266441821231,
 -1.946775527077299,
 -2.3456284153005527,
 -1.4456480061349664,
 -0.8851289833080375,
 -0.6365701306076109,
 -0.40173349092341765,
 -1.702612527541712,
 -0.1818588025022361,
 -2.2920353982300754,
 '+',
 -4.051142546245897,
 -0.6116993118051904,
 -0.4713708842410427,
 -2.7782247251273633,
 -2.9591096661248026,
 '+',
 -1.83451154648892,
 -2.884366925064602,
 '-',
 -0.8843839087741467,
 -0.7198306280875083,
 -6.9152542372879005,
 -2.1193670886075986,
 -1.9162995594713608,
 -1.094186570527264,
 -0.44823046134400835,
 '+',
 '+',
 -0.009852216748759487,
 -0.28875270367700195,
 -0.9830409947935072,
 -0.4578097950522142,
 -0.4210667621263632,
 -1.8562902360515032,
 -0.8245312912595752,
 -0.37288858556560656,
 -0.4038525406841591,
 -2.2508085550338954,
 -0.9249766464269068,
 '-',
 -2.2668320926385372,
 -1.039765319426338,
 -8.115248226950534,
 -0.4843068875326952,
 -0.6490840176879333,
 '-',
 -1.111503856041124,
 -0.43937534857780197,
 -0.4437735849056613,
 -0.72576,
 -0.46909466000158145,
 -0.30112079701120864,
 -1.7875222816399199,
 -1.9690015534529095,
 -0.35779888737272875,
 -0.4271875440326899,
 -2.0218032576631897,
 -1.83093442997487,
 -1.0775074759557075,
 -0.2876452753916122,
 -4.6638418079095,
 '+',
 -1.3242966751918124,
 -0.8989581775584489,
 -1.4080489047376403,
 -1.1281827122718977,
 -5.728451216738693,
 -0.5622736899637859,
 -0.6528514588859466,
 -1.6983189459336547,
 -5.296183206107082,
 -0.3682988389702188,
 -0.8766083495325303,
 -0.523918403945307,
 -0.6044110746128601,
 -0.4370635254522484,
 -4.1412688031392975,
 -0.4081988661142662,
 -10.351136363635096,
 -0.37792341300437154,
 -0.3995374264087475,
 -1.1870162691517916,
 -0.2754510309278346,
 -0.6022706123208642,
 -0.4509610645638245,
 -5.708629605688482,
 -1.1290480863591705,
 -0.7039192007904282,
 -0.49906050357008475,
 -0.6226396193338343,
 '-',
 -1.0973009752778327,
 -3.737631184407833,
 -0.26106214689265633,
 -2.189956331877748,
 -2.758264462809941,
 -0.9456443073172589,
 -1.2318744960046968,
 -1.7524249422632745,
 -0.11595124536301048,
 '-',
 -0.7862333201215508,
 -0.9459790447679797,
 -1.1693419924028963,
 -0.9914308345934979,
 -1.0558472553699179,
 -1.5292385786802045,
 -1.8618952948972947,
 -3.8381016492763327,
 -0.38355263157894337,
 -0.05973715651134976,
 -0.8953940634595673,
 -1.124261520283575,
 -0.03337403337403997,
 -0.07063020214030988,
 -2.1891527979748955,
 -3.4934579439252427,
 -2.6622972972972816,
 -0.6366289415616816,
 -3.28571428571428,
 -1.8720070422535358,
 -0.386994088221919,
 -0.32806430729392055,
 -1.191598915989159]

In [13]:
diff3 = []
for i in diff2:
    if i != '+' and i != '-':
        i = abs(float(i))
        i = 100*(1-1/(1+i))
    diff3.append(i)
diff3

['+',
 58.041174950469475,
 59.189470038101724,
 23.90669301486398,
 47.72657607029729,
 50.23969511583596,
 42.874931255253124,
 72.77271793467085,
 67.96750534640394,
 21.10981250720174,
 31.5450834220802,
 68.89721675518771,
 38.96617147485172,
 62.28299873921066,
 63.537771129394194,
 35.99764104580291,
 52.13054011685918,
 76.86683171167019,
 21.388682501258593,
 31.451318944844132,
 '+',
 48.004475941812686,
 40.85081240768093,
 33.46034187436654,
 40.23819651212247,
 '+',
 75.16405855628474,
 62.069593732919536,
 29.090153718321655,
 78.16144603784232,
 65.29693216999715,
 76.62508207485239,
 24.467527017101855,
 33.19915309616541,
 26.30617464376933,
 67.35284110241581,
 71.40060240963872,
 40.91602083598042,
 16.665055769267934,
 23.282089275791616,
 57.43280307185963,
 22.05899655433231,
 57.5669957686883,
 77.1995332555425,
 29.71332031043775,
 80.45466896114455,
 26.902086677367308,
 80.15153132002959,
 43.153962115750154,
 68.18532251551099,
 39.87220447284348,
 77.57194022477474,
 36.735668789808805,
 50.26773761713497,
 57.118955997992146,
 30.159754720025777,
 51.175917215427724,
 44.60093896713641,
 77.99095686178677,
 19.692087361260402,
 24.673005854752116,
 18.646513225695895,
 97.40903029148637,
 75.71143737538524,
 90.67315015525213,
 48.20257743612996,
 58.16843074091098,
 41.176470588234906,
 79.01259244453327,
 70.91278577476724,
 35.617956770735795,
 51.75991107817721,
 38.31436183095207,
 '-',
 67.00819672131169,
 25.423293996921338,
 55.28389024721554,
 64.29693637077737,
 70.98176718092593,
 72.55830062341212,
 42.63565891472868,
 58.32127351664275,
 '+',
 51.77197025699027,
 37.272131147540854,
 '-',
 63.01540653664615,
 68.19730650657156,
 46.46753246753269,
 59.05764768873806,
 70.03647066350997,
 98.77336448598633,
 '-',
 57.37487570434261,
 52.66100178890911,
 46.827943717600675,
 4.452388690282416,
 27.871362940275624,
 25.201884253028272,
 33.36320458822486,
 73.43157894736848,
 87.84403669724821,
 24.842105263159485,
 33.587786259541865,
 58.49352687328386,
 '-',
 62.232916265640114,
 42.326177507209295,
 92.22884386174019,
 37.54834870574237,
 40.69437883797817,
 10.002632271650857,
 68.93235011221533,
 57.62544865930027,
 56.65355548680782,
 79.54396171530375,
 49.779072102831975,
 55.954088952654104,
 55.78025216964153,
 14.567706277141223,
 56.52266213777762,
 66.52279977481683,
 62.97147233390776,
 40.677616658648994,
 66.34346447883648,
 56.18915159944402,
 49.48493936627925,
 69.83308042488703,
 58.65914626329945,
 91.90562203657682,
 40.03616636527977,
 82.42756728955948,
 73.94827394827408,
 39.367423938347834,
 '-',
 47.8448640867136,
 45.46186031541679,
 56.287425149700695,
 29.671027562555686,
 '+',
 '+',
 '+',
 45.96893272695066,
 33.42021705132451,
 25.456224528718717,
 87.35240094463357,
 '+',
 26.412425127170902,
 72.88346613545818,
 37.52811234944294,
 30.902193532597046,
 39.30952144065281,
 29.076396807297144,
 48.412883650367654,
 35.8280863646793,
 62.025039037887254,
 54.97190324945049,
 85.13824884792555,
 66.10889432359383,
 19.933680720038517,
 55.16156705747785,
 41.95743545266524,
 73.04169514695845,
 13.58468564765294,
 57.99973506424689,
 17.6951565581261,
 65.93310627892774,
 66.12625667964855,
 54.70192458144274,
 18.58472767760474,
 82.66930592991912,
 '-',
 91.8150119287942,
 80.79608378139797,
 47.54828704356395,
 53.98700290186795,
 62.969406988545764,
 66.64653176281085,
 15.371794386150972,
 40.56713712287973,
 45.39108645068902,
 32.55828781534933,
 11.567252383579119,
 31.33815645656587,
 35.110637163422986,
 58.012803830739514,
 60.95959897356323,
 36.719186501285186,
 7.87510574482797,
 47.640094711917726,
 46.10597439544819,
 87.91593695271459,
 65.84438277315246,
 52.90574060949682,
 71.85354691075547,
 46.08554597455823,
 84.47985399410379,
 73.97678944712747,
 18.84414386719977,
 '+',
 75.94949461029584,
 68.43203076622238,
 90.54917969652683,
 23.584659535611728,
 83.75153273319965,
 17.474003239797476,
 '+',
 36.81310270932199,
 44.40399556048828,
 45.17978113600852,
 57.17019240990729,
 53.83441434567,
 85.36729222520107,
 91.04719935057378,
 55.88568550925343,
 70.97952148637204,
 29.64075656920403,
 56.04895812259749,
 72.78520554791956,
 33.17001469867773,
 58.7572297197093,
 39.69649695078695,
 89.38369781312105,
 41.6101666042043,
 90.92763318919744,
 63.71865261908272,
 21.971807559565715,
 26.519881695694693,
 '-',
 '+',
 30.67025383085745,
 23.145702093070796,
 59.65041398344052,
 47.36809163172051,
 13.252849531260791,
 46.8130527599879,
 67.21948390837917,
 61.070005691520436,
 75.47236918152284,
 83.09462602521737,
 42.998544395924334,
 65.98915989159933,
 35.33021515434983,
 50.76150102056833,
 11.776257443304027,
 29.001293484920698,
 66.60869565217374,
 81.8698720666351,
 20.849459663231805,
 48.05726968950454,
 50.01241506963723,
 50.597626752966605,
 56.08990249545529,
 83.24984862663077,
 77.89259007477882,
 65.565986835006,
 41.82018146824292,
 '+',
 52.1198273673528,
 '-',
 42.007790610264436,
 65.79790940766534,
 80.58088483620399,
 33.74131093010361,
 32.420091324201,
 72.70889487870524,
 76.45596126161519,
 43.9346401168029,
 29.03015028470065,
 54.36830471008336,
 68.44695710009961,
 66.06460211131757,
 70.11024908125772,
 59.111041429859235,
 46.95323190855657,
 38.89659958362254,
 28.659762609992878,
 62.99876546085588,
 15.387523629489742,
 69.62365591397837,
 '+',
 80.20249892287798,
 37.95368697651512,
 32.03617043735262,
 73.532543118745,
 74.74179590031905,
 '+',
 64.72055295598673,
 74.25577914518544,
 '-',
 46.93225752227248,
 41.85473943372997,
 87.36616702355423,
 67.94221482774017,
 65.70996978851957,
 52.24876264256508,
 30.950216371504503,
 '+',
 '+',
 0.9756097560966848,
 22.405594405594474,
 49.57239902626777,
 31.403945604290364,
 29.630329365829,
 64.98955227384783,
 45.191403140603605,
 27.160877400112028,
 28.767447362195465,
 69.23842228569583,
 48.05131782475518,
 '-',
 69.3893052461008,
 50.97475231703423,
 89.02937171756489,
 32.62848751835542,
 39.360275809231915,
 '-',
 52.64038959062531,
 30.525418474891485,
 30.737062205959276,
 42.05451511218246,
 31.930866864704043,
 23.14318529862178,
 64.12584729505039,
 66.31864342283644,
 26.351390526254683,
 29.932123904726648,
 66.90717711472334,
 64.67597449761926,
 51.86539583738566,
 22.338860001962146,
 82.34413965087249,
 '+',
 56.976232394366136,
 47.33954587216176,
 58.47260418870308,
 53.01155327342779,
 85.13773871894543,
 35.99072899811938,
 39.49849548645956,
 62.939888870180006,
 84.11736178467561,
 26.916549841363636,
 46.71237606668949,
 34.37968874113751,
 37.67183386955259,
 30.413653795485708,
 80.54954840351097,
 28.98730257045552,
 91.19030934027333,
 27.42702601883814,
 28.547820077521735,
 54.275603062256216,
 21.59636271785802,
 37.58857010105705,
 31.080163043478258,
 85.09382603040024,
 53.03065222401464,
 41.311771148766226,
 33.291551767360176,
 38.37202123718978,
 '-',
 52.31967124472783,
 78.8924050632913,
 20.701766961757706,
 68.65160848733763,
 73.39197361187482,
 48.603144149258995,
 55.19461323698482,
 63.66840073837885,
 10.390350460632568,
 '-',
 44.01627218934918,
 48.611985175861406,
 53.90307275192057,
 49.78484903272447,
 51.35825400510772,
 60.4624091839602,
 65.0581206872599,
 79.33073605120353,
 27.72230147408442,
 5.636978579481378,
 47.24052273463649,
 52.92481690924258,
 3.2296179598273245,
 6.59706796979126,
 68.64370999611566,
 77.7454242928453,
 72.69473451164153,
 38.89879528552185,
 76.66666666666664,
 65.18114387298492,
 27.901639344262286,
 24.702441402283316,
 54.3712130579943]

In [14]:
diff4 = []
for i in diff3:
    if i == '-':
        i = int('0')
    if i =='+':
        i = int('100')
    diff4.append(i)
diff4

[100,
 58.041174950469475,
 59.189470038101724,
 23.90669301486398,
 47.72657607029729,
 50.23969511583596,
 42.874931255253124,
 72.77271793467085,
 67.96750534640394,
 21.10981250720174,
 31.5450834220802,
 68.89721675518771,
 38.96617147485172,
 62.28299873921066,
 63.537771129394194,
 35.99764104580291,
 52.13054011685918,
 76.86683171167019,
 21.388682501258593,
 31.451318944844132,
 100,
 48.004475941812686,
 40.85081240768093,
 33.46034187436654,
 40.23819651212247,
 100,
 75.16405855628474,
 62.069593732919536,
 29.090153718321655,
 78.16144603784232,
 65.29693216999715,
 76.62508207485239,
 24.467527017101855,
 33.19915309616541,
 26.30617464376933,
 67.35284110241581,
 71.40060240963872,
 40.91602083598042,
 16.665055769267934,
 23.282089275791616,
 57.43280307185963,
 22.05899655433231,
 57.5669957686883,
 77.1995332555425,
 29.71332031043775,
 80.45466896114455,
 26.902086677367308,
 80.15153132002959,
 43.153962115750154,
 68.18532251551099,
 39.87220447284348,
 77.57194022477474,
 36.735668789808805,
 50.26773761713497,
 57.118955997992146,
 30.159754720025777,
 51.175917215427724,
 44.60093896713641,
 77.99095686178677,
 19.692087361260402,
 24.673005854752116,
 18.646513225695895,
 97.40903029148637,
 75.71143737538524,
 90.67315015525213,
 48.20257743612996,
 58.16843074091098,
 41.176470588234906,
 79.01259244453327,
 70.91278577476724,
 35.617956770735795,
 51.75991107817721,
 38.31436183095207,
 0,
 67.00819672131169,
 25.423293996921338,
 55.28389024721554,
 64.29693637077737,
 70.98176718092593,
 72.55830062341212,
 42.63565891472868,
 58.32127351664275,
 100,
 51.77197025699027,
 37.272131147540854,
 0,
 63.01540653664615,
 68.19730650657156,
 46.46753246753269,
 59.05764768873806,
 70.03647066350997,
 98.77336448598633,
 0,
 57.37487570434261,
 52.66100178890911,
 46.827943717600675,
 4.452388690282416,
 27.871362940275624,
 25.201884253028272,
 33.36320458822486,
 73.43157894736848,
 87.84403669724821,
 24.842105263159485,
 33.587786259541865,
 58.49352687328386,
 0,
 62.232916265640114,
 42.326177507209295,
 92.22884386174019,
 37.54834870574237,
 40.69437883797817,
 10.002632271650857,
 68.93235011221533,
 57.62544865930027,
 56.65355548680782,
 79.54396171530375,
 49.779072102831975,
 55.954088952654104,
 55.78025216964153,
 14.567706277141223,
 56.52266213777762,
 66.52279977481683,
 62.97147233390776,
 40.677616658648994,
 66.34346447883648,
 56.18915159944402,
 49.48493936627925,
 69.83308042488703,
 58.65914626329945,
 91.90562203657682,
 40.03616636527977,
 82.42756728955948,
 73.94827394827408,
 39.367423938347834,
 0,
 47.8448640867136,
 45.46186031541679,
 56.287425149700695,
 29.671027562555686,
 100,
 100,
 100,
 45.96893272695066,
 33.42021705132451,
 25.456224528718717,
 87.35240094463357,
 100,
 26.412425127170902,
 72.88346613545818,
 37.52811234944294,
 30.902193532597046,
 39.30952144065281,
 29.076396807297144,
 48.412883650367654,
 35.8280863646793,
 62.025039037887254,
 54.97190324945049,
 85.13824884792555,
 66.10889432359383,
 19.933680720038517,
 55.16156705747785,
 41.95743545266524,
 73.04169514695845,
 13.58468564765294,
 57.99973506424689,
 17.6951565581261,
 65.93310627892774,
 66.12625667964855,
 54.70192458144274,
 18.58472767760474,
 82.66930592991912,
 0,
 91.8150119287942,
 80.79608378139797,
 47.54828704356395,
 53.98700290186795,
 62.969406988545764,
 66.64653176281085,
 15.371794386150972,
 40.56713712287973,
 45.39108645068902,
 32.55828781534933,
 11.567252383579119,
 31.33815645656587,
 35.110637163422986,
 58.012803830739514,
 60.95959897356323,
 36.719186501285186,
 7.87510574482797,
 47.640094711917726,
 46.10597439544819,
 87.91593695271459,
 65.84438277315246,
 52.90574060949682,
 71.85354691075547,
 46.08554597455823,
 84.47985399410379,
 73.97678944712747,
 18.84414386719977,
 100,
 75.94949461029584,
 68.43203076622238,
 90.54917969652683,
 23.584659535611728,
 83.75153273319965,
 17.474003239797476,
 100,
 36.81310270932199,
 44.40399556048828,
 45.17978113600852,
 57.17019240990729,
 53.83441434567,
 85.36729222520107,
 91.04719935057378,
 55.88568550925343,
 70.97952148637204,
 29.64075656920403,
 56.04895812259749,
 72.78520554791956,
 33.17001469867773,
 58.7572297197093,
 39.69649695078695,
 89.38369781312105,
 41.6101666042043,
 90.92763318919744,
 63.71865261908272,
 21.971807559565715,
 26.519881695694693,
 0,
 100,
 30.67025383085745,
 23.145702093070796,
 59.65041398344052,
 47.36809163172051,
 13.252849531260791,
 46.8130527599879,
 67.21948390837917,
 61.070005691520436,
 75.47236918152284,
 83.09462602521737,
 42.998544395924334,
 65.98915989159933,
 35.33021515434983,
 50.76150102056833,
 11.776257443304027,
 29.001293484920698,
 66.60869565217374,
 81.8698720666351,
 20.849459663231805,
 48.05726968950454,
 50.01241506963723,
 50.597626752966605,
 56.08990249545529,
 83.24984862663077,
 77.89259007477882,
 65.565986835006,
 41.82018146824292,
 100,
 52.1198273673528,
 0,
 42.007790610264436,
 65.79790940766534,
 80.58088483620399,
 33.74131093010361,
 32.420091324201,
 72.70889487870524,
 76.45596126161519,
 43.9346401168029,
 29.03015028470065,
 54.36830471008336,
 68.44695710009961,
 66.06460211131757,
 70.11024908125772,
 59.111041429859235,
 46.95323190855657,
 38.89659958362254,
 28.659762609992878,
 62.99876546085588,
 15.387523629489742,
 69.62365591397837,
 100,
 80.20249892287798,
 37.95368697651512,
 32.03617043735262,
 73.532543118745,
 74.74179590031905,
 100,
 64.72055295598673,
 74.25577914518544,
 0,
 46.93225752227248,
 41.85473943372997,
 87.36616702355423,
 67.94221482774017,
 65.70996978851957,
 52.24876264256508,
 30.950216371504503,
 100,
 100,
 0.9756097560966848,
 22.405594405594474,
 49.57239902626777,
 31.403945604290364,
 29.630329365829,
 64.98955227384783,
 45.191403140603605,
 27.160877400112028,
 28.767447362195465,
 69.23842228569583,
 48.05131782475518,
 0,
 69.3893052461008,
 50.97475231703423,
 89.02937171756489,
 32.62848751835542,
 39.360275809231915,
 0,
 52.64038959062531,
 30.525418474891485,
 30.737062205959276,
 42.05451511218246,
 31.930866864704043,
 23.14318529862178,
 64.12584729505039,
 66.31864342283644,
 26.351390526254683,
 29.932123904726648,
 66.90717711472334,
 64.67597449761926,
 51.86539583738566,
 22.338860001962146,
 82.34413965087249,
 100,
 56.976232394366136,
 47.33954587216176,
 58.47260418870308,
 53.01155327342779,
 85.13773871894543,
 35.99072899811938,
 39.49849548645956,
 62.939888870180006,
 84.11736178467561,
 26.916549841363636,
 46.71237606668949,
 34.37968874113751,
 37.67183386955259,
 30.413653795485708,
 80.54954840351097,
 28.98730257045552,
 91.19030934027333,
 27.42702601883814,
 28.547820077521735,
 54.275603062256216,
 21.59636271785802,
 37.58857010105705,
 31.080163043478258,
 85.09382603040024,
 53.03065222401464,
 41.311771148766226,
 33.291551767360176,
 38.37202123718978,
 0,
 52.31967124472783,
 78.8924050632913,
 20.701766961757706,
 68.65160848733763,
 73.39197361187482,
 48.603144149258995,
 55.19461323698482,
 63.66840073837885,
 10.390350460632568,
 0,
 44.01627218934918,
 48.611985175861406,
 53.90307275192057,
 49.78484903272447,
 51.35825400510772,
 60.4624091839602,
 65.0581206872599,
 79.33073605120353,
 27.72230147408442,
 5.636978579481378,
 47.24052273463649,
 52.92481690924258,
 3.2296179598273245,
 6.59706796979126,
 68.64370999611566,
 77.7454242928453,
 72.69473451164153,
 38.89879528552185,
 76.66666666666664,
 65.18114387298492,
 27.901639344262286,
 24.702441402283316,
 54.3712130579943]

In [15]:
df_index5=df_index4.groupby([pd.Grouper(freq='W')]).mean()
df_index5
df_index5.dropna(inplace=True)
df_index5['RSI'] = diff4
df_index5 = df_index5.drop('binary',axis = 1)
df_index5

                   RSI
date
2015-04-19  100.000000
2015-04-26   58.041175
2015-05-03   59.189470
2015-05-10   23.906693
2015-05-17   47.726576
...                ...
2022-12-04   76.666667
2022-12-11   65.181144
2022-12-18   27.901639
2022-12-25   24.702441
2023-01-01   54.371213

[395 rows x 1 columns]

In [16]:
df_index5['week'] = range(1, len(df_index5) + 1)
df_index5.set_index("week", inplace=True)
df_index5

             RSI
week
1     100.000000
2      58.041175
3      59.189470
4      23.906693
5      47.726576
...          ...
391    76.666667
392    65.181144
393    27.901639
394    24.702441
395    54.371213

[395 rows x 1 columns]

In [17]:
df_index5.to_csv('C:/Users/XLL/Desktop/CS毕设项目/CSI300_Index & Future_0521Final/50/50_weekly_RSI.csv', index = False, header=True)