In [1]:
import pandas as pd
dir_path =r"C:/Users/Laura/Desktop/msp22059 C-07/msp22059 C-07/3_robustness_test_1.5/datasets/"
r_monthly_data=pd.read_csv(dir_path+'500_data_monthly_1.5.csv')
r_monthly_data

,m,volume,closingPrice,amount,BASIS,inventory,short_balance_ratio,RSI,pli,camount,turnoverRatio,spread,CCt+1
0,1,14.201869,NaN,10.077930,-139.062727,12.144915,0.006269,37.881327,0.800000,10.370347,4.360909,0.496676,0.0
1,2,15.327183,0.112933,11.343842,-28.476500,13.474522,0.005209,47.792163,0.700000,11.047016,4.115500,1.013475,1.0
2,3,15.829562,0.134180,11.949884,-164.501905,13.832623,0.004078,39.356259,0.523810,11.223600,4.269048,1.740671,1.0
3,4,15.343232,-0.339026,11.159442,-325.186522,13.062730,0.002590,43.366599,0.478261,10.860472,3.550000,1.322817,1.0
4,5,14.903162,-0.005283,10.684692,-362.787619,12.905038,0.003500,42.384784,0.476190,10.632604,3.005238,1.241205,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,89,14.614080,-0.000160,10.234516,-25.123043,15.806881,0.106141,42.622897,0.521739,10.482733,1.157391,1.061322,1.0
89,90,14.583571,-0.045850,10.162973,-14.769048,15.717310,0.143683,38.808999,0.428571,10.080702,0.933810,0.957367,0.0
90,91,14.403126,-0.024630,9.958466,-1.910625,15.466114,0.129923,48.493263,0.562500,9.903985,0.925000,0.998850,0.0
91,92,14.543896,0.041309,10.138870,9.376818,15.750296,0.115053,76.866086,0.409091,10.408075,1.094545,0.834641,0.0
92,93,14.363599,-0.016284,9.949398,13.076364,15.719227,0.124746,47.819403,0.318182,10.217406,0.913182,0.702168,NaN

In [2]:
#normalize data
cols_to_norm =r_monthly_data.columns[:-1]
r_monthly_data[cols_to_norm] = r_monthly_data[cols_to_norm].apply(lambda x: (x - x.min()) / (x.max() - x.min()))
r_monthly_data.head()

,m,volume,closingPrice,amount,BASIS,inventory,short_balance_ratio,RSI,pli,camount,turnoverRatio,spread,CCt+1
0,0.000000,0.567252,NaN,0.562754,0.595228,0.000000,0.018621,0.198145,1.000000,0.606984,1.000000,0.285260,0.0
1,0.010870,0.866435,0.942467,0.858442,0.889447,0.362582,0.013255,0.371367,0.808511,0.918664,0.932093,0.582188,1.0
2,0.021739,1.000000,0.986774,1.000000,0.527546,0.460235,0.007528,0.223924,0.471125,1.000000,0.974581,1.000000,1.0
3,0.032609,0.870702,0.000000,0.815370,0.100039,0.250287,0.000000,0.294017,0.383904,0.832740,0.775614,0.759921,1.0
4,0.043478,0.753702,0.695954,0.704479,0.000000,0.207284,0.004606,0.276856,0.379939,0.727782,0.624874,0.713030,1.0

In [4]:
r_monthly_data = r_monthly_data.dropna()
r_monthly_data = r_monthly_data.drop(['m'], axis=1)
r_monthly_data

,volume,closingPrice,amount,BASIS,inventory,short_balance_ratio,RSI,pli,camount,turnoverRatio,spread,CCt+1
1,0.866435,0.942467,0.858442,0.889447,0.362582,0.013255,0.371367,0.808511,0.918664,0.932093,0.582188,1.0
2,1.000000,0.986774,1.000000,0.527546,0.460235,0.007528,0.223924,0.471125,1.000000,0.974581,1.000000,1.0
3,0.870702,0.000000,0.815370,0.100039,0.250287,0.000000,0.294017,0.383904,0.832740,0.775614,0.759921,1.0
4,0.753702,0.695954,0.704479,0.000000,0.207284,0.004606,0.276856,0.379939,0.727782,0.624874,0.713030,1.0
5,0.271301,0.264952,0.219762,0.326460,0.111944,0.014044,0.203496,0.521277,0.462256,0.402473,0.594796,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
87,0.700981,0.732098,0.621341,0.877369,0.986094,0.479881,0.332761,0.379939,0.638416,0.141952,0.636434,0.0
88,0.676845,0.706636,0.599329,0.898369,0.998613,0.524112,0.281018,0.467160,0.658750,0.113559,0.609678,1.0
89,0.668734,0.611358,0.582618,0.925916,0.974187,0.714126,0.214358,0.288754,0.473572,0.051692,0.549950,0.0
90,0.620760,0.655609,0.534849,0.960127,0.905686,0.644480,0.383621,0.545213,0.392174,0.049254,0.573785,0.0
91,0.658185,0.793112,0.576988,0.990157,0.983182,0.569218,0.879524,0.251451,0.624362,0.096169,0.479438,0.0

In [5]:
# Processing unbalanced dataset:　SMOTE
from imblearn.over_sampling import SMOTE
from sklearn.datasets import make_classification
from sklearn.metrics import recall_score, roc_auc_score

In [6]:
X = r_monthly_data.iloc[:, :-1]  # Features (all columns except the last one)
y = r_monthly_data.iloc[:, -1]   # Labels (last column)
smote = SMOTE(random_state=42)
X_resampled, y_resampled = smote.fit_resample(X, y)
balanced_df = pd.concat([X_resampled, y_resampled], axis=1)

In [7]:
balanced_df

,volume,closingPrice,amount,BASIS,inventory,short_balance_ratio,RSI,pli,camount,turnoverRatio,spread,CCt+1
0,0.866435,0.942467,0.858442,0.889447,0.362582,0.013255,0.371367,0.808511,0.918664,0.932093,0.582188,1.0
1,1.000000,0.986774,1.000000,0.527546,0.460235,0.007528,0.223924,0.471125,1.000000,0.974581,1.000000,1.0
2,0.870702,0.000000,0.815370,0.100039,0.250287,0.000000,0.294017,0.383904,0.832740,0.775614,0.759921,1.0
3,0.753702,0.695954,0.704479,0.000000,0.207284,0.004606,0.276856,0.379939,0.727782,0.624874,0.713030,1.0
4,0.271301,0.264952,0.219762,0.326460,0.111944,0.014044,0.203496,0.521277,0.462256,0.402473,0.594796,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
143,0.156057,0.511466,0.105560,0.869321,0.400748,0.080195,0.447512,0.061558,0.120698,0.000979,0.302136,1.0
144,0.908112,0.285510,0.868791,0.223733,0.311033,0.002178,0.273736,0.409140,0.881135,0.833183,0.829385,1.0
145,0.198092,0.627880,0.135693,0.894390,0.442346,0.084342,0.317776,0.512573,0.224755,0.034476,0.374436,1.0
146,0.137828,0.658306,0.089758,0.910404,0.377068,0.085607,0.330117,0.359115,0.156551,0.043320,0.486508,1.0
147,0.701329,0.577765,0.612208,0.907533,0.963118,0.487373,0.280244,0.313248,0.586490,0.204394,0.441644,1.0

In [8]:
print("Class distribution before SMOTE:")
print(r_monthly_data.iloc[:, -1].value_counts())
print("\nClass distribution after SMOTE:")
print(balanced_df.iloc[:, -1].value_counts())

Class distribution before SMOTE:
0.0    74
1.0    17
Name: CCt+1, dtype: int64

Class distribution after SMOTE:
1.0    74
0.0    74
Name: CCt+1, dtype: int64

In [18]:
# Using balanced df to make predictions
# Model 1, logistic regression

from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from sklearn.metrics import  accuracy_score, recall_score, roc_auc_score, f1_score

X = balanced_df.iloc[:, :-1]  # Features (all columns except the last one)
y = balanced_df.iloc[:, -1]   # Labels (last column)

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Create a logistic regression model
logreg = LogisticRegression(C=0.1, solver='liblinear', random_state=42)

# Train the model on the training data
logreg.fit(X_train, y_train)

# Make predictions on the test data
y_pred = logreg.predict(X_test)

# Calculate the accuracy
accuracy = accuracy_score(y_test, y_pred)

# Calculate the recall
recall = recall_score(y_test, y_pred)

# Calculate the ROC-AUC
roc_auc = roc_auc_score(y_test, y_pred)

# Calculate the F1 score
f1 = f1_score(y_test, y_pred)

# Print the merics
print("Accuracy:", accuracy)
print("ROC-AUC:", roc_auc)
print("F1 score:", f1)
print("Recall:", recall)

Accuracy: 0.7
ROC-AUC: 0.6900452488687783
F1 score: 0.64
Recall: 0.6153846153846154